body {
	background-image: url(./img/background-2076336_1920.jpg);
}
nav {
	background-image: url(./img/background-2076336_1920.jpg);
}
.navbar-brand {
	font-size: 40px;
	font-style: italic;
	font-weight: bold;
}
a {
	font-size: large;
	color: rgb(83, 223, 83);
}

aside {
	width: 150px;
	position: fixed;
	z-index: 1;
	top: 250px;
	left: 10px;
	overflow-x: hidden;
	padding: 8px 0;
	border-right: black 3px solid;
}
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: black;
	display: block;
}
.sidenav a:hover {
	color: green;
	font-size: 30px;
}
main {
	margin-left: 250px;
	margin-top: 115px;
	padding: 0px 10px;
	font-size: 18px;
}
@media screen and (max-height:450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
h2 {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 50px;
	
}

h3 {
	padding: 20px;
}

p {
	
}